<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel='stylesheet' href='/stylesheets/2016.2.504/kendo.common.min.css'>
    <link rel='stylesheet' href='/stylesheets/2016.2.504/kendo.blueopal.min.css'>
    
    <script type="text/javascript" src="/javascripts/jquery-1.11.1.min.js"/>
    <script type="text/javascript" src="/javascripts/kendo/kendo.all.min.js"/>
</head>
<body>
	<script type="text/javascript">
	$(document).ready(function(){
		alert("Hola mundo...");
	});
	</script>

</body>